@model LokwaInnovation.Models.Log_in

@{
    ViewData["Title"] = "View";
    Layout = null;
}




<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

<title>Lokwa Innovation</title>
<script src="~/CustomeJS/popper.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/templatemo-training-studio.css" rel="stylesheet" />
<link href="~/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" href="/build/css/intlTelInput.css">
<link rel="stylesheet" href="/build/css/demo.css">
<link href="~/css/templatemo-training-studio.css" rel="stylesheet" />
<meta name="msapplication-navbutton-color" content="#333333">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#ed563b">
<meta name="theme-color" content="#333333">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#333333">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#333333">


<div class="row" id="call-to-action1">
    <div class="col-lg-3">

    </div>
    <div class="col-lg-6 ">

        <div class="card " style="margin: 15px;
        margin-top: 20px;border:none
">
            <div class="card-header text-center text-white" style="background-color:#ed563b;
">
                Please sign up to proceed
            </div>
            <div class="card-body text-center">
                <div class="contact-form">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-sm-12">
                                <fieldset>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend text-light">
                                            <span class="input-group-text text-light" style="        background-color: #ed563b
"><i class="fa fa-user-o" aria-hidden="true"></i></span>
                                        </div>
                                        <input asp-for="Full_name" class="form-control" />
                                    </div>
                                </fieldset>
                                <span asp-validation-for="Full_name" class="text-danger"></span>

                            </div>

                            <div class="col-md-6 col-lg-6 col-sm-12">
                                <fieldset>
                                    <div class="input-group mb-3">

                                        <input asp-for="Phone_number" id="phone" type="tel" class="form-control" />
                                    </div>
                                </fieldset>
                                <span asp-validation-for="Phone_number" class="text-danger"></span>

                            </div>

                            @if (ViewBag.anonymous != null)
                            {

                            <div class="col-md-6 col-lg-6 col-sm-12">
                                <fieldset>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend text-light">
                                            <span class="input-group-text text-light" style="        background-color: #ed563b
"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                                        </div>
                                        <input asp-for="Email" class="form-control" />
                                    </div>
                                </fieldset>
                                <span asp-validation-for="Email" class="text-danger"></span>

                            </div>
                            }
                            <div class="col-md-12 col-sm-12">
                                <fieldset>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend text-light">
                                            <span class="input-group-text text-light" style="background-color: #ed563b
"><i class="fa fa-unlock" aria-hidden="true"></i></span>
                                        </div>
                                        <input asp-for="Password" class="form-control" />

                                    </div>
                                </fieldset>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-12" style="display:none">
                                <fieldset>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend text-light">
                                            <span class="input-group-text text-light" style="        background-color: #ed563b
"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                        </div>
                                        <input asp-for="Date" value="@DateTime.Now" class="form-control" />
                                    </div>
                                </fieldset>
                                <span asp-validation-for="Date" class="text-danger"></span>

                            </div>
                            <div class="col-lg-12 text-center">
                                <fieldset style="margin-top:15px">
                                    <div class="btn-group-sm">
                                        <a href="/Log_in/Log_in" class="main-button " style="margin-right:15px;color: #ed563b
"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;&nbsp;Log in</a>
                                        <button type="submit" class="main-button" style="border-radius: 25px;">
                                            Sign up&nbsp;&nbsp;<i class="fa fa-users" aria-hidden="true"></i>
                                        </button>
                                    </div>

                                    @*else
                            {
                                <div class="alert alert-danger">
                                    <strong>Error!</strong> &nbsp; @ViewBag.Message
                                </div>
                            }*@
                                </fieldset>
                            </div>

                        </div>
                    </form>

                </div>

                @if (ViewBag.MessageSuccess != null)
                    {

                <div class="alert alert-primary" style="margin-top:15px;width:100%">
                    <strong>Success!</strong> &nbsp; @ViewBag.MessageSuccess
                </div>

                    }
                @if (ViewBag.MessageError != null)
                    {



                <div class="alert alert-danger" style="        margin-top: 15px;
        width: 100%
">
                    <strong>Warning!</strong> &nbsp; @ViewBag.MessageError
                </div>
                    }
            </div>

        </div>

    </div>
    <div class="col-lg-3">

    </div>
    <script src="/build/js/intlTelInput.js"></script>
    <script>
        var input = document.querySelector("#phone");
        window.intlTelInput(input, {
            // allowDropdown: false,
            autoHideDialCode: false,
            // autoPlaceholder: "off",
            dropdownContainer: document.body,
            // excludeCountries: ["us"],
            formatOnDisplay: false,
            geoIpLookup: function (callback) {
                $.get("http://ipinfo.io", function () { }, "jsonp").always(function (resp) {
                    var countryCode = (resp && resp.country) ? resp.country : "";
                    callback(countryCode);
                });
            },
            hiddenInput: "full_number",
            // initialCountry: "auto",
            // localizedCountries: { 'de': 'Deutschland' },
            nationalMode: false,
            // onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
            placeholderNumberType: "MOBILE",
            // preferredCountries: ['cn', 'jp'],
            //separateDialCode: true,
            utilsScript: "/build/js/utils.js",
        });
    </script>

</div>


