@{
    ViewData["Title"] = null;
    Layout = null;
}
@model LokwaInnovation.Models.Contacts


<!DOCTYPE html>
<html lang="en">

<head>
    <!-- jQuery -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>Lokwa Innovation</title>
    <script src="~/CustomeJS/popper.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/templatemo-training-studio.css" rel="stylesheet" />
    <!--

    TemplateMo 548 Training Studio

    https://templatemo.com/tm-548-training-studio

    -->
    <!-- Additional CSS Files -->


</head>

<body>

    <!-- ***** Preloader Start ***** -->
    @*<div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>*@
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <h2>
                            <a href="index.html" class="logo"><i class="fa fa-tint" aria-hidden="true"></i>&nbsp; Lokwa<em> Innovation</em></a>

                        </h2>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#features">About</a></li>
                            <li class="scroll-to-section"><a href="#our-classes">Resources</a></li>
                            @*<li class="scroll-to-section"><a href="#schedule">Schedules</a></li>*@
                            <li class="scroll-to-section"><a href="#contact-us">Contact</a></li>
                            <li class="main-button"><a href="/Log_in/Log_in"><i class="fa fa-user-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Log in</a></li>
                    
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <video autoplay muted loop id="bg-video">
            <source src="/images/video2.mp4" type="video/mp4" />
        </video>

        <div class="video-overlay header-text">
            <div class="caption">
                @*<h6>Lokwa Innovation</h6>*@
                <h2>Store water   <em>for Dry days!</em></h2>
                <p class="text-white">
                    Lokwa Innovation is a an organization that offers a complete solution of water collection in asal and non-asal regions.
                    The platform brings together  new ideas, and to accelerate the most promising innovations that can  improve the lives of millions of the world’s poorest people.

                    We will help push evidence-based innovation to tackle pressing challenges in the water sector for households, cities, and watersheds.
                </p>
                <div class="main-button scroll-to-section">
                    <a href="#features">How?</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->
    <!-- ***** Features Item Start ***** -->
    <!-- ***** Features Item End ***** -->
    <!-- ***** Call to Action Start ***** -->
    <section class="section" id="our-classes">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-12 text-center justify-content-center">
                    <div class="card" style="margin-top:30px;">
                        <img class="card-img-top" src="/images/employee.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Meet Moses Kisang</h5>
                            <p class="card-text">I am a freelance consultant in asal and non-asal regions specifically poverty and looming poverty reduction respectively.</p>
                            <a href="#" class="btn btn-primary" style="background-color: #ed563b;border:none"><i class="fa fa-book" aria-hidden="true"></i> &nbsp;&nbsp;Access the resources</a>
                        </div>
                    </div>





                </div>
                <div class="col-lg-8 ">
                    <div class="section-heading" style="margin-top:30px;">

                        <div class="list-group">
                            <a href="#" class="list-group-item bg-dark text-light"><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Education background</a>
                            <p href="#" class="list-group-item">Diploma in Business Management-Kenya Institute Of Management</p>  <p href="#" class="list-group-item">Diploma in Business Management-Kenya Institute Of Management</p>  <p href="#" class="list-group-item">
                                Degree in Eentrepreneurship(BSE) Majoring in Community Economic Activities.

                            </p>
                            <a href="#" class="list-group-item text-light" style="        background-color: #ed563b
"><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;&nbsp;Call me</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="section" id="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">

                        <h2>Get to know <em>How</em> to achieve <em>that:</em></h2>
                        <p>
                            Finding water is a daily challenge for young girls, moms and sons.
                            Providing a reliable and safe water source will unlock potential by returning time for study, work, and imagination.
                        </p>
                        <div class="main-button scroll-to-section">
                            <a href="#our-classes">Become a member</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="trainers">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading" style="margin:10px;">
                        <h2>Available <em>Resources</em></h2>
                        <img src="assets/images/line-dec.png" alt="">
                        <p>Below are list of resources availlable</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">

                    <div class="card customeback " style=" margin-bottom:7px;">
                        <img class="card-img-top" src="/images/backg.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Harvesting rainwater in a dry land</h5>

                            <a href="#" class="btn btn-primary" style="background-color: #ed563b;border:none"><i class="fa fa-book" aria-hidden="true"></i> &nbsp;&nbsp;Read</a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4">

                    <div class="card customeback" style="margin-bottom:7px;">
                        <img class="card-img-top" src="/images/backg.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Harvesting rainwater in a dry land</h5>

                            <a href="#" class="btn btn-primary" style="background-color: #ed563b;border:none"><i class="fa fa-book" aria-hidden="true"></i> &nbsp;&nbsp;Read</a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4">

                    <div class="card customeback" style=" margin-bottom:7px;">
                        <img class="card-img-top" src="/images/backg.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Harvesting rainwater in a dry land</h5>

                            <a href="#" class="btn btn-primary" style="background-color: #ed563b;border:none"><i class="fa fa-book" aria-hidden="true"></i> &nbsp;&nbsp;Read</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Testimonials Ends ***** -->
    <!-- ***** Contact Us Area Starts ***** -->
    <section class="section" id="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <div class="row">
                            <div class="col-lg-3">

                            </div>
                            <div class="col-lg-6">
                                <h2>GET<em>IN</em>TOUCH</h2>
                                <div class="card">
                                    <div class="card-header text-center text-white" style="background-color:#ed563b;
">
                                        Contacts us
                                    </div>
                                    <div class="card-body text-center">
                                        <div class="contact-form">
                                            <form  asp-action="Index" >
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-12">
                                                        <fieldset>

                                                            
                                                              
                                                                <input asp-for="Full_name" class="form-control" />
                                                                <span asp-validation-for="Full_name" class="text-danger"></span>
                                                           



                                                           
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <fieldset>
                                                            <input asp-for="Subject" class="form-control" />
                                                            <span asp-validation-for="Subject" class="text-danger"></span>
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12">
                                                        <fieldset>
                                                            <input asp-for="Date" class="form-control" />
                                                            <span asp-validation-for="Date" class="text-danger"></span>
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <fieldset>
                                                            <textarea rows="5" cols="40" asp-for="Message" class="form-control" ></textarea>
                                                            <span asp-validation-for="Message" class="text-danger"></span>
                                                            
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <fieldset style="margin-top:15px">
                                                            <button type="submit" class="main-button">Send Message</button>

                                                            @if (ViewBag.Message != null)
                                                            {

                                                                <div class="alert alert-success">
                                                                    <strong>Success!</strong> &nbsp; @ViewBag.Message
                                                                </div>}
                                                            @*else
                                                            {
                                                                <div class="alert alert-danger">
                                                                    <strong>Error!</strong> &nbsp; @ViewBag.Message
                                                                </div>
                                                            }*@
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                    </div>

                                </div>

                            </div>
                            <div class="col-lg-3">

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Copyright &copy; 2020 Lokwa Roof Innovation

                        - Designed by <a rel="nofollow" href="https://templatemo.com" class="tm-text-link" target="_parent">Fuela</a>
                    </p>

                    <!-- You shall support us a little via PayPal to info@templatemo.com -->

                </div>
            </div>
        </div>

        @*<script src="assets/js/jquery-2.1.0.min.js"></script>*@
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

        <!-- Bootstrap -->
        @*<script src="assets/js/popper.js"></script>*@
        @*<script src="assets/js/bootstrap.min.js"></script>*@

        <!-- Plugins -->
        <script src="~/CustomeJS/scrollreveal.min.js"></script>
        <script src="~/CustomeJS/waypoints.min.js"></script>
        <script src="~/CustomeJS/jquery.counterup.min.js"></script>
        <script src="~/CustomeJS/imgfix.min.js"></script>
        <script src="~/CustomeJS/mixitup.js"></script>
        <script src="~/CustomeJS/accordions.js"></script>
        <script src="~/CustomeJS/custom.js"></script>
        @*https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css*@
        <link href="~/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />

    </footer>
</body>
</html>
<!-- Global Init -->
@*<script src="assets/js/custom.js"></script>*@