
<nav aria-label="breadcrumb card-1">
    <ol class="breadcrumb">
        <li class="breadcrumb-item "><a asp-action="Dashboard" asp-controller="Home" class="color">Dashboard</a></li>
        <li class="breadcrumb-item"><a asp-action="index" asp-controller="PDF_Documents" class="color">Website visitors</a></li>
       
    </ol>
</nav>