@model Lubes.Models.PDF_Documents

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav aria-label="breadcrumb card-1">
    <ol class="breadcrumb">
        <li class="breadcrumb-item "><a asp-action="Dashboard" asp-controller="Home" class="color">Dashboard</a></li>
        <li class="breadcrumb-item"><a asp-action="index" asp-controller="PDF_Documents" class="color">Documents</a></li>
        <li class="breadcrumb-item active" aria-current="page">Delete</li>
        <li class="breadcrumb-item active" aria-current="page"> @Html.DisplayFor(model => model.Document_name)</li>
    </ol>
</nav>

<div>

    <div class="col-12 mt-3">
        <div class="card">
            <div class="card-header bg-danger text-light">
                <h3><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;&nbsp;Delete</h3>

                <h6>Are you sure you want to delete this PDF? NB:All the related content will also be deleted.</h6>
            </div>
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img class="im" src="/@Html.DisplayFor(model => model.Cover_url)" style="        height: 100px;
        width: 150px;
        object-fit: cover
" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h6 class="card-title">@Html.DisplayFor(model => model.Document_name)e</h6>
                    <p class="card-text text-lowercase" style="        white-space: nowrap;
        width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;

">@Html.DisplayFor(model => model.Document_description)</p>
</div>
</div>
<div class="card-footer">
    <small class="text-muted"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;Last updated &nbsp; @Html.DisplayFor(model => model.Date_modified)</small>
</div><div class="card-footer">
          <div class="card-footer">
              <form asp-action="Delete">
                  <input type="hidden" asp-for="ID" />
                  <input type="submit" value="Delete" class="btn btn-danger" /> |
                  <a asp-action="Index" class="btn btn-primary">Back to List</a>
              </form>
             
          </div>
</div>
</div>
</div>


</div>
