@model Lubes.Models.PDF_Documents

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>PDF_Documents</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Document_name" class="control-label"></label>
                <input asp-for="Document_name" class="form-control" />
                <span asp-validation-for="Document_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document_description" class="control-label"></label>

                <textarea rows="5" cols="40" asp-for="Document_description" class="form-control"></textarea>
                <span asp-validation-for="Document_description" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Cover_image" class="control-label"></label>
                <div class="custom-file">
                    <input style="margin:unset" asp-for="Cover_image" class="custom-file-input" accept="image/x-png,image/gif,image/jpeg" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <span asp-validation-for="Cover_image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document" class="control-label"></label>
                <div class="custom-file">
                    <input style="margin:unset" asp-for="Document" accept="application/pdf" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <span asp-validation-for="Document" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-outline-secondary"><i class="fa fa-cloud-upload" aria-hidden="true"></i>&nbsp;Submit</button>

                <a href="#" class="btn btn-sm btn-outline-secondary"><i class="fa fa-list" aria-hidden="true"></i> &nbsp;List of PDF</a>

            </div>
        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section scripts27{
    <script type="text/javascript">

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
        //document.getElementById("divId").addEventListener("contextmenu ", function () {
        //    console.log("Right Click");
        //    return false;
    </script>
}
