@model Lubes.Models.PDF_Documents

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>PDF_Documents</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Document_name" class="control-label"></label>
                <input asp-for="Document_name" class="form-control" />
                <span asp-validation-for="Document_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document_description" class="control-label"></label>
                <input asp-for="Document_description" class="form-control" />
                <span asp-validation-for="Document_description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book_url" class="control-label"></label>
                <input asp-for="Book_url" class="form-control" />
                <span asp-validation-for="Book_url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cover_url" class="control-label"></label>
                <input asp-for="Cover_url" class="form-control" />
                <span asp-validation-for="Cover_url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date_modified" class="control-label"></label>
                <input asp-for="Date_modified" class="form-control" />
                <span asp-validation-for="Date_modified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

